body {
    background-color: #0D0D0D;
    
}

.rsbgcard {
    background-color:#100F12;
    border: none;
}

html, body, pre, code, kbd, samp {
    font-family: "'Press Start 2P', cursive";
}

#start {
    font-family: 'Press Start 2P', cursive;
    font-weight: bold;
}

.ctitle {
    font-family: 'Press Start 2P', cursive;
    font-weight: bold;
    background: -webkit-linear-gradient(#F2A88D, #F26666);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.eu {
    font-family: 'Press Start 2P', cursive;
    color: #dddddd;
    font-size: 0.75rem;
}

.skilltitle h2 {
    font-family: 'Press Start 2P', cursive;
    color: #dddddd;
    font-size: 1.5rem;
    margin-bottom: 15px;
    border-bottom: 2px solid #dddddd;
}

.colorbar {
    background: -webkit-linear-gradient(#F2A88D, #F26666);
}

.copyr {
    background-color: #0D0D0D;
}

.topics {
    color: #F26666;
}

.bganima {
    background: #0D0D0D;
}

.bg-content {
    background: #070707;
    border: 3px solid #050505;
    border-radius: 30px;
}

@media (max-width: 567.98px) {
    /* .skilltitle {
        font-size: 1.25rem;
    } */
}